.page {
    align-items: center;
    justify-content: space-evenly;
}

.carousel {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
}

.carousel img {
    position: absolute;
    width: 50%;
    border-radius: 20px;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 8vh;
}

.method {
    display: flex;
    flex-direction: column;
    height: 30%;
    justify-content: space-evenly;
    text-align: center;
}