<div class="page">
    <div class="profile">
        <div class="avatar">
            <img src="../../../assets/images/avatarf.png" alt="Avatar">
        </div>
        <h3>Hello, Tiago Veloso Sampaio</h3>
        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 16.2941L0.46967 15.7638L0.25 15.9835V16.2941H1ZM16.2941 1L16.8244 0.46967C16.5316 0.176777 16.0567 0.176777 15.7638 0.46967L16.2941 1ZM21 5.70588L21.5303 6.23621C21.8232 5.94332 21.8232 5.46845 21.5303 5.17555L21 5.70588ZM5.70588 21V21.75H6.01654L6.23621 21.5303L5.70588 21ZM1 21H0.25C0.25 21.4142 0.585786 21.75 1 21.75L1 21ZM1.53033 16.8244L16.8244 1.53033L15.7638 0.46967L0.46967 15.7638L1.53033 16.8244ZM15.7638 1.53033L20.4697 6.23621L21.5303 5.17555L16.8244 0.46967L15.7638 1.53033ZM20.4697 5.17555L5.17555 20.4697L6.23621 21.5303L21.5303 6.23621L20.4697 5.17555ZM5.70588 20.25H1V21.75H5.70588V20.25ZM1.75 21V16.2941H0.25V21H1.75ZM12.2344 5.05974L16.9403 9.76562L18.0009 8.70496L13.295 3.99908L12.2344 5.05974Z" fill="white"/>
            </svg>

    </div>

    <h2 id="myads">My ads</h2>
    <div class="ad">
        <div class="each-ad">
            <h3>Title Golf 4</h3>
            <img src="/../../../assets/images/golf.png" alt="img1">
        </div>
        <div class="each-ad">
            <h3>Title Golf 4</h3>
            <img src="/../../../assets/images/golf.png" alt="img2">
        </div>
        <div class="each-ad">
            <h3>Title Golf 4</h3>
            <img src="/../../../assets/images/golf.png" alt="img3">
        </div>
        <div class="each-ad">
            <h3>Title Golf 4</h3>
            <img src="/../../../assets/images/golf.png" alt="img3">
        </div>
    </div>


    <h2 id="savedads"> Saved ads ></h2>
    <div class="saved-ad">
        <div class="each-saved">
            <h3>GTR VRUTUMTUM</h3>
            <img src="/../../../assets/images/gtr.jpg" alt="img1">
        </div>
        <div class="each-saved">
            <h3>Title Golf 4</h3>
            <img src="/../../../assets/images/gtr.jpg" alt="img2">
        </div>
        <div class="each-saved">
            <h3>Title Golf 4</h3>
            <img src="/../../../assets/images/gtr.jpg" alt="img3">
        </div>
        <div class="each-saved">
            <h3>Title Golf 4</h3>
            <img src="/../../../assets/images/gtr.jpg" alt="img3">
        </div>
    </div>

    <div class="more">
        <h2>Options and more</h2>
        <h4>
            <a href="../home/home.component.html"></a>Terms and conditions ></h4>
        <h4>Privacy Policy ></h4>
        <h4>About Us ></h4>
    </div>
</div>