
.page{
    align-items: center;
    justify-content: space-evenly;
}

.form-anuncio{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15%;
}
.inside-form{
    width: 80%;
    display: flex;
    flex-direction: row;
}

.inside-form div{
    width: 50%;
}

.inside-form div:nth-child(2){
    margin-left: 10%;
}
.newAcc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 8vh;
}

.input{
    width: 80vw;
    height: 10vh;
}

.input input, .input textarea{
    width: 100%;
    height: 50%;
}

.input svg{
    right: 0;
    top: 55%;
}
.images{
    width: 80%;
    height: 15%;
    background-color: var(--nav);
    display: flex;
    justify-content: center;
    align-items: center;
}
