<div class="page">
    <h1>Sign In</h1>
    <div class="form">
        <div class="input">
            <h3>Email Adress</h3>
            <input type="text" placeholder="yourmail@gmail.com">
        </div>
        <div class="input">
            <h3>Password</h3>
            <input [type]="toggleType ? 'password' : 'text'" placeholder="********">
            <img #img (click)="toggleType = !toggleType" (click)="changeSource(img)" src="../../../assets/icons/eye-open.svg" alt="toggleType">
        </div>
        <div class="button-and-forgot">
            <button type="submit">Login</button>
            <p>Forgot Password?
                <a href="home"> Click Here</a>
            </p>
        </div>
    </div>

    <div class="newAcc">
        <p>Don't have an account?</p>
        <p>Create Account</p>

    </div>
</div>