
.page{
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.form{
    height: 40%;
    width: 100%;
}

.newAcc, .button-and-forgot{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 8vh;
}

.input{
    width: 80vw;
    height: 10vh;
}

.input input{
    width: 100%;
    height: 50%;
}

.input svg{
    right: 0;
    top: 55%;
}