nav {
    width: 100vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    z-index: 99;
    background-color: var(--nav);
}

.img-link {
    height: 100%;
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
}