<div class="page">
    <div class="avatar">
        <img src="../../../assets/images/avatar.png" alt="Avatar">
    </div>
    <div class="form">
        <div class="input">
            <h3>Name</h3>
            <input type="text" placeholder="Your Name">
        </div>
        <div class="input">
            <h3>Email Adress</h3>
            <input type="text" placeholder="yourmail@gmail.com">
        </div>
        <div class="input">
            <h3>Contacto</h3>
            <input type="text" placeholder="Phone Number">
        </div>
        <div class="input">
            <h3>Password</h3>
            <input [type]="toggleType ? 'password' : 'text'" placeholder="********">
            <img #img (click)="toggleType = !toggleType" (click)="changeSource(img)" src="../../../assets/icons/eye-open.svg" alt="toggleType">
        </div>
        <div class="btns">
            <button type="submit">Confirm</button>
            <button href="edit-profile.component.html">Cancel</button>
        </div>

    </div>

</div>