<div class="page">

    <h1>Promote Ad</h1>
    <h2>Chose one of ours promotion plans!</h2>

    <div class="plans">
        <div class="plan start">
            <h3>Start</h3>
            <p>7 days as "top AD"!</p>
            <h3>5€</h3>
        </div>

        <div class="plan standard">
            <h3>Standard</h3>
            <p>14 days as "top AD"!</p>
            <h3>10€</h3>
        </div>

        <div class="plan premium">
            <h3>Premium</h3>
            <p>1 month as "top AD"!</p>
            <h3>15€</h3>
        </div>

        <div class="plan Ultimate">
            <h3>Ultimate</h3>
            <p>3 months as "top AD"!</p>
            <h3>25€</h3>
        </div>
    </div>

</div>
