
.page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.newAcc{
    position: absolute;
    width: 100vw;
    height: 8vh;
    text-align: center;
    bottom: 10vh;
    font-size: 0.8rem;
}
svg{
    position: absolute;
    margin-left: -2vh;
}
svg:checked{
    
}